*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background: #2c2320;
}
.logo{
    color: #F1C232;
    font-family: Georgia;
}
.input input{
    background-color: transparent;
    padding: 8px 16px;
    border-radius: 6px;
    border: 1px solid;
    color: white;
    max-width:1000px ;
    border-color: rgb(80, 78, 78);
}
.link{
    display: flex;
    gap: 20px;
}
.link a{
    color: white;
    text-decoration: none;
}
.click{
    display: flex;
    gap: 30px;
}
.first{
    background: #F1C232;
    color: white;
    border-radius: 10px;
    padding: 10px;
    border: none;
}
.second{
    background: #F1C232;
    color: white;
    border-radius: 10px;
    padding: 10px;
    border: none;
}
.hero{
    display: flex;
    height: 100vh;
    background: url('https://i0.wp.com/www.smartprix.com/bytes/wp-content/uploads/2022/11/cover.webp?ssl=1&quality=80&w=f');
    background-size: cover;
}
.left{
    display: flex;
    flex-direction: column;
    align-items: start;
    color: whitesmoke;
    gap: 15px;
    padding: 30px;
    margin-top:250px;
}
.left h1{
    font-size: 40px;
}
.left p{
    font-size: 20px;
    font-style: italic;
}
.left a{
    text-decoration: none;
    background-color: #F1C232;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 20px;
    margin: 10px;
}
footer{
    background-color:#2c2320;
    color: white;
    padding: 5px 10px;
}
.container{
    display: flex;
    gap: 600px;
    align-items: center;
    height: 30vh;
}
.watch h2{
    color: #F1C232;
    font-family: Georgia;
    margin-left:200px;
    font-size: 35px;
}
.right{
    display: grid;
    gap: 60px;
    grid-template-columns: repeat(3,1fr);
}
.right h3{
    font-size: 20px;
    margin-bottom: 10px;
}
.right a{
    text-decoration: none;
    font-size: 15px;
    color: lightgrey;
    display: flex;
}
.copyright{
    margin: 30px;
    color: rgb(107, 100, 100);
    text-align: start;
}