*
{
     margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    background: #F5E8D8;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background: #2c2320;
    top: 0;
    position: sticky;
    
   
}
.logo{
    color: #F1C232;
    font-family: Georgia;
}
.input input{
    background-color: transparent;
    padding: 8px 16px;
    border-radius: 6px;
    border: 1px solid;
    color: white;
    max-width:1000px ;
    border-color: rgb(80, 78, 78);
}
.link{
    display: flex;
    gap: 20px;
}
.link a{
    color: white;
    text-decoration: none;
}
.click{
    display: flex;
    gap: 30px;
}
.click a{
    text-decoration: none;
}
.first{
    background: #F1C232;
    color: white;
    border-radius: 10px;
    padding: 10px;
    border: none;
}
.second{
    background: #F1C232;
    color: white;
    border-radius: 10px;
    padding: 10px;
    border: none;
}
.registration{
    background-color: #2c2320;
    padding: 20px;
    color: whitesmoke;
    max-width: 450px;
    margin: 15px auto ;
}
.registration h1{
    text-align: center;
}
.registration input{
    padding: 8px 16px;
    box-sizing: border-box;
    width: 100%;
    border-radius: 5px;
    border: 1px solid lightgrey;
    margin: 10px auto;
}
.button{
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    border: none;
    border-radius: 5px;
    margin: 10px auto;
    background-color: #F1C232;
}
.sign{
    display: flex;
    gap: 5px;
    align-items: center;
}
.sign .link{
    text-decoration: none;
}
footer{
    background-color: #2c2320;
    color: white;
    padding: 5px 10px;
}
.container{
    display: flex;
    gap: 600px;
    align-items: center;
    height: 30vh;
}
.watch h2{
    color: #F1C232;
    font-family: Georgia;
    margin-left:200px;
    font-size: 35px;
}
.right{
    display: grid;
    gap: 60px;
    grid-template-columns: repeat(3,1fr);
}
.right h3{
    font-size: 20px;
    margin-bottom: 10px;
}
.right a{
    text-decoration: none;
    font-size: 15px;
    color: lightgrey;
    display: flex;
}
.copyright{
    margin: 30px;
    color: rgb(107, 100, 100);
    text-align: start;
}